# Basic Operations with FolderDB

This notebook demonstrates the basic operations you can perform with the FolderDB class, including:
- Creating a database
- Adding and updating data
- Querying records
- Deleting records

## Setup and Imports

First, let's import the required libraries and set up our environment.

In [1]:
import os
import pandas as pd
from datetime import datetime
from jsonldb.folderdb import FolderDB

h:\valcap\software\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## Initialize Database

Let's create a folder for our database and initialize the FolderDB instance.

In [2]:
# Create a folder for our database
db_folder = "test_db"
os.makedirs(db_folder, exist_ok=True)

# Initialize the database
db = FolderDB(db_folder)

## Create Sample Data

Let's create some sample DataFrames with user and order information.

In [3]:
# Create users DataFrame
users_df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'city': ['New York', 'London', 'Paris']
}, index=['user1', 'user2', 'user3'])

# Create orders DataFrame
orders_df = pd.DataFrame({
    'product': ['Laptop', 'Phone', 'Tablet'],
    'price': [1000, 500, 300],
    'quantity': [1, 2, 3]
}, index=['order1', 'order2', 'order3'])

print("Users DataFrame:")
display(users_df)
print("\nOrders DataFrame:")
display(orders_df)

Users DataFrame:

          name  age      city
user1    Alice   25  New York
user2      Bob   30    London
user3  Charlie   35     Paris

Orders DataFrame:

       product  price  quantity
order1  Laptop   1000         1
order2   Phone    500         2
order3  Tablet    300         3

## Save Data to Database

Now let's save our DataFrames to the database using the `upsert_df` method.

In [4]:
# Save DataFrames to database
db.upsert_df("users", users_df)
db.upsert_df("orders", orders_df)

print("Database state after saving:")
print(str(db))

Database state after saving:
FolderDB at test_db
--------------------------------------------------
Found 2 JSONL files

users:
  Size: 157 bytes
  Count: 3
  Key range: user1 to user3
  Linted: False

orders:
  Size: 171 bytes
  Count: 3
  Key range: order1 to order3
  Linted: False

## Update Records

Let's update some user information using a new DataFrame with updated values.

In [5]:
# Create updates DataFrame
updates_df = pd.DataFrame({
    'name': ['Alice Smith'],
    'age': [26],
    'city': ['Boston']
}, index=['user1'])

# Update the database
db.upsert_df("users", updates_df)

print("Updated user information:")
display(db.get_df(["users"])["users"])
print(str(db))

Updated user information:

              name  age    city
user2          Bob   30  London
user3      Charlie   35   Paris
user1  Alice Smith   26  Boston

FolderDB at test_db
--------------------------------------------------
Found 2 JSONL files

users:
  Size: 215 bytes
  Count: 3
  Key range: user1 to user3
  Linted: False

orders:
  Size: 171 bytes
  Count: 3
  Key range: order1 to order3
  Linted: False

## Query Records

Let's demonstrate different ways to query records from the database.

In [6]:
# Query all users
print("All users:")
display(db.get_df(["users"])["users"])

# Query specific orders using key range
print("\nOrders 1-2:")
display(db.get_df(["orders"], lower_key="order1", upper_key="order2")["orders"])

All users:

              name  age    city
user2          Bob   30  London
user3      Charlie   35   Paris
user1  Alice Smith   26  Boston

Orders 1-2:

       product  price  quantity
order1  Laptop   1000         1
order2   Phone    500         2

## Delete Records

Let's delete some records from the database.

In [7]:
# Delete user2
db.delete_file("users", ["user2"])

print("Database state after deletion:")
print(str(db))

print("\nRemaining users:")
display(db.get_df(["users"])["users"])

Database state after deletion:
FolderDB at test_db
--------------------------------------------------
Found 2 JSONL files

users:
  Size: 215 bytes
  Count: 2
  Key range: user1 to user3
  Linted: False

orders:
  Size: 171 bytes
  Count: 3
  Key range: order1 to order3
  Linted: False



Remaining users:

              name  age    city
user3      Charlie   35   Paris
user1  Alice Smith   26  Boston

## Cleanup

Finally, let's clean up by removing the database folder and its contents.

In [8]:
# Cleanup
for file in os.listdir(db_folder):
    os.remove(os.path.join(db_folder, file))
os.rmdir(db_folder)

print("Database folder has been cleaned up.")

Database folder has been cleaned up.